/*--------------------------------------------------------------
# Page Header
--------------------------------------------------------------*/
.page-header {
    position: relative;
    display: block;
    padding: 248px 0 150px;
    overflow: hidden;
    z-index: 1;
    margin-top: -128px;
}

.page-header__bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.page-header__bg::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
    transform: matrix(-1, 0, 0, 1, 0, 0);
}


.page-header__bg::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    background-image: -moz-linear-gradient(-90deg, rgb(16, 16, 21) 0%, rgba(16, 16, 21, 0) 60%);
    background-image: -webkit-linear-gradient(-90deg, rgb(16, 16, 21) 0%, rgba(16, 16, 21, 0) 60%);
    background-image: -ms-linear-gradient(-90deg, rgb(16, 16, 21) 0%, rgba(16, 16, 21, 0) 60%);
    z-index: 1;
}






.page-header__inner {
    position: relative;
    display: block;
}

.page-header__inner h2 {
    font-size: 70px;
    font-weight: 500;
    line-height: 70px;
    color: var(--givewell-white);
    text-transform: capitalize;
    margin-bottom: 15px;
}

.thm-breadcrumb__box {
    position: relative;
    display: inline-block;
    border-radius: 4px;
    padding: 2px 12px 3px;
    background-color: rgba(var(--givewell-white-rgb), .12);
    z-index: 1;
}

.thm-breadcrumb {
    position: relative;
    display: inline-block;
}

.thm-breadcrumb li {
    position: relative;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    color: var(--givewell-white);
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

.thm-breadcrumb li+li {
    margin-left: 8px;
}

.thm-breadcrumb li span {
    font-size: 10px;
}

.thm-breadcrumb li a {
    position: relative;
    display: inline-flex;
    color: var(--givewell-white);
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    align-items: center;
    gap: 8px;
}

.thm-breadcrumb li:hover a {
    color: var(--givewell-base);
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .page-header {
        padding: 200px 0 120px;
        margin-top: -100px;
    }

    .page-header__inner h2 {
        font-size: 60px;
        line-height: 60px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .page-header {
        padding: 180px 0 100px;
        margin-top: -80px;
    }

    .page-header__bg {
        background-position: center center;
    }

    .page-header__bg::before {
        background: linear-gradient(90deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.4) 100%);
    }

    .page-header__bg::after {
        background-image: -moz-linear-gradient(-90deg, rgba(16, 16, 21, 0.6) 0%, rgba(16, 16, 21, 0) 80%);
        background-image: -webkit-linear-gradient(-90deg, rgba(16, 16, 21, 0.6) 0%, rgba(16, 16, 21, 0) 80%);
        background-image: -ms-linear-gradient(-90deg, rgba(16, 16, 21, 0.6) 0%, rgba(16, 16, 21, 0) 80%);
    }

    .page-header__inner h2 {
        font-size: 48px;
        line-height: 52px;
    }

    .thm-breadcrumb li {
        font-size: 15px;
    }
}